* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole debug */
header {
    background-color: blueviolet;
}

.row-up {
    background-color: crimson;

}

.logo {
    background-color: black;

}



.title {
    background-color: darkgreen;
  
}

.img {
    background-color: blue;
  height: 20px;
}

.center {
    background-color: aqua;
  

}

footer {
    background-color: slategrey;
    min-height: 400px;
}

.foot {
    background-color: chartreuse;
    min-height: 200px;
    width: 20%;
}


/* regole nav  */
header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 400px;

}

.row-up {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 60%;
    height: 40px;

}
.accedi {
    height: 40px;
    width: 7%;
}


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    min-height: 40px;

}

.logo {
    width: 10%;
    height: 40px;
}
.center {
    background-color: aqua;
    width: 47%;

}
.input {
    text-align: center;
    margin-top: 20px;
}
.foot{
    background-color: darkslategrey;
    height: 40px;
}
.last{
    background-color: brown;
  
}
.cane{
    background-color: chartreuse;
    width: 38%;
    height: 40px;
}

/* regole corpo centrale */
.img{
    width: 42%;
    min-height: 400px;
}

.section {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    
    
}
/* regole footer  */
footer {
    display: flex;
   justify-content: space-between;
}

.foot {
    display: flex;
    flex-direction: column;
    width: 15%;
   
    

}

.interact { 
    display: flex;
    width: 15%;
      
}

.last{
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 40px;
    
}
.cane{
    display: flex;
    
}t